.footer{
    display: flex;
    justify-content: space-between;
    padding: 48px 32px;
    background-color: #fff;
    border-radius: 16px;
    margin: 16px 0;
    &__text{
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #6B7280;
    }
    &__social{
        column-gap: 24px;
        display: flex;
        img{
            width: 24px;
            height: 24px;
        }
    }
    @media (max-width: 500px) {
        flex-wrap: wrap;
        padding: 16px;
        &__text{
            margin-bottom: 15px;
        }
    }
}